@import "~bpk-mixins";

.itinerary-list {
  flex-grow: 1;
  background-color: $bpk-color-gray-100;
  overflow-y: auto;
  overflow-anchor: none;
  text-align: center;
  padding: 0 $bpk-spacing-sm;

  .itinerary-list__card {
    margin: $bpk-spacing-sm auto;
  }

  .itinerary-list__spinner {
    margin: $bpk-spacing-md;
  }
}