@import "~bpk-mixins";

.search-controls {
  padding: $bpk-spacing-sm $bpk-spacing-sm;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  color: $bpk-color-blue-500;
  box-shadow: $bpk-box-shadow-sm;
  z-index: 1;

  .search-controls__filter {
    flex-grow: 1;
    text-align: left;
  }

  .search-controls__sort {
    flex-grow: 4;
    text-align: left;
  }

  .search-controls__alerts {
    display: flex;
    align-items: center;

    .search-controls__alerts-icon {
      fill: $bpk-color-blue-500;
    }
  }
}